name: dog_health
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.8
  chart_sparkline: ^1.0.15+1
  fl_chart: ^0.35.0
  google_sign_in: ^6.2.1

dev_dependencies:
  change_app_package_name: ^1.1.0
  
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/