<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765571825739-o830sv7p6rve92hnk1jn160a4bjoihg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765571825739-o830sv7p6rve92hnk1jn160a4bjoihg1</string>
	<key>API_KEY</key>
	<string>AIzaSyC0RF2r1kaqOAr0y9xBh2gS3VmoltmecH8</string>
	<key>GCM_SENDER_ID</key>
	<string>765571825739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogHealth</string>
	<key>PROJECT_ID</key>
	<string>dog-health-32e61</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-health-32e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765571825739:ios:4ab448e05d8d002c794dce</string>
</dict>
</plist>